* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --color-main-theme: rgb(88, 28, 43);
}

body {
    background-color: var(--color-main-theme);
    color: white;
}

header {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
}

header .links {
    text-align: center;
}

header .links a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 20px;
}

header .links a:hover {
    color: tomato;
    transition: color 400ms;
}

h1 {
    margin: 20px;
    text-align: center;
}

p {
    text-align: center;
    font-size: 26px;
}

.warning {
    color: tomato;
}

.inputField {
    margin: 20px auto; 
    max-width: 400px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px
}

.inputField p {
    font-size: 22px;
    background-color: rgb(139, 53, 38);
    padding: 10px;
    text-align: center;
}

.inputField input {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    background: none;
    border-bottom: rgb(88, 28, 43) 2px solid;
}

.inputField input:focus {
    border-bottom: tomato 2px solid;
    transition: border-bottom 300ms;
}

.inputField button {
    padding: 10px;
    font-size: 20px;
    background-color: rgb(167, 80, 64);
    border: none;
    border-radius: 8px;
    outline: none;
}

.inputField button:hover {
    background-color: teal;
    color: white;
    transition: all 400ms;
}

/*Placeholder*/
::placeholder {
  color: tomato;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: tomato;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: tomato;
}

/* ==== Answer ==== */
#answer {
    margin-bottom: 20px;
}